/* Переменные */
:root {
	/* цветовая палитра */
	--m-one: #FFFFFF;
	--m-two: #D6D6D6;
	--m-three: #595653;
	--m-four: #313131;
	--m-five: #1F1F1F;
	--c-one: #E9DED4;
	--c-two: #FBCE51;
	--c-three: #F54932;
	--c-four: #3057A2;

	/* скорость движения текста бегущей строки */
	--animation-delay: 30s;
}

/* Шрифты */
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/merriweather-regular.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/golos.ttf') format('truetype');
	font-style: normal;
}

/* Анимация бегущей строки */
@keyframes ticker {
	from {
	transform: translateX(0);
	}
	to {
	transform: translateX(calc(-100% - 20px));
	}
}
/* Анимация строки на солце */
@keyframes start__background__item_layer-7 {
	0% {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	font-family: 'Golos', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
}
/* --Заголовки / Headings */
.h {
	font-family: 'Merriweather', sans-serif;
	text-transform: uppercase;
}
.h-1 {

}
.h-2 {
	font-size: 54px;
	line-height: 120%;
	font-weight: 400;
}
.h-3 {
}
h1, h2, h3, h4, h5, h6, p, span, a {
	color: var(--m-four);
}
p {
	font-size: 20px;
}
/* Тексты / Texts */
.t {
	font-size: 20px;
	line-height: 120%;
}
.t-s {
	font-size: 16px;
}
.t-l {
	font-size: 24px;
}
.t-medium {
	font-weight: 500;
}
.t-semibold {
	font-weight: 600;
}
.t-opacity {
	opacity: .6;
}
/* текст красный */
.t--c-three {
	color: var(--c-three);
}
/* текст синий */
.t--c-four {
	color: var(--c-four);
}
.text-decorated_strikethrough--c-three {
	text-decoration: line-through;
text-decoration-color: var(--c-three);
}
.no-touch {
	user-select: none;
	-webkit-user-drag: none;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Контейнер контента страницы */
.container {
	position: relative;
	z-index: 100;

	max-width: 1222px;

	margin: auto;
	padding: 0 20px;

	/* overflow: hidden; */
}

/* Секция :: Старт */
.start {
	height: 700px;
	padding-top: 26px;

	background-color: var(--c-one);

	position: relative;
	box-sizing: border-box;
}
.start__logo,
.start__background__item__img {
	height: 36px;
	width: auto;
}
.start__content {
	width: 100%;
	max-width: 542px;

	height: 100%;
	max-height: 444px;

	margin-top: 62px;
}
.start__content__title {
	margin-bottom: 24px;
}
.start__content__title__row {
	font-size: 60px;
	line-height: 110%;
	text-transform: uppercase;
}
.start__content__title__row_first {
	text-align: left;
}
.start__content__title__row_second {
	text-align: center;
}
.start__content__title__row_third {
	text-align: right;
}

.start__content__description {
	margin-bottom: 40px;
	font-size: 18px;
	text-align: center;
}
.start__content__buttons {

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}
.start__content__button {
	height: 70px;
	
	display: flex;
	justify-content: center;

	padding: 20px;
	border-radius: 66px;

	box-sizing: border-box;
}
.start__content__button__text {
	width: 165px;
	height: 30px;

	display: flex;
	align-items: center;

	font-size: 16px;
	line-height: 130%;
	font-weight: 500;
}
.start__content__button_support {
	background-color: var(--m-five);
}
.start__content__button_support .start__content__button__text {
	color: var(--m-one);
}
.start__content__button_support:hover {
	background-color: var(--c-two);
}
.start__content__button_support:hover .start__content__button__text {
	color: var(--m-five);
}
.start__content__button_details {
	background-color: unset;
	color: var(--m-five);

	border: 2px solid black;
}
.start__content__button_details:hover {
	background-color: var(--m-five);
}
.start__content__button_details:hover .start__content__button__text {
	color: var(--m-one);

}
.start__background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.start__background__item {

	width: 100%;
	height: 100%;
	position: absolute;
}
.start__background__item__img {
	width: fit-content;
	height: fit-content;

	position: absolute;
}
/* конь */
.start__background__item_layer-1 {
}
.start__background__item_layer-1 .start__background__item__img {
	right: 50%;
	transform: translateX(calc(100% + 154px));
	bottom: -51px;
}
/* пешка */
.start__background__item_layer-2 {
}
.start__background__item_layer-2 .start__background__item__img {
	right: 50%;
	transform: translateX(640px);
	bottom: 19.5px;
}
/* фильтр */
.start__background__item_layer-3 {
	mix-blend-mode: color-burn;
	display: flex;
	justify-content: center;

	background-image: url(../img/img-4606c6.png);
	background-repeat: repeat;
}
/* город */
.start__background__item_layer-4 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	bottom: -22px;
}
/* король */
.start__background__item_layer-5 {
}
.start__background__item_layer-5 .start__background__item__img {
	left: 50%;
	transform: translateX(48px);
	bottom: 164px;
}
/* королева */
.start__background__item_layer-6 {
}
.start__background__item_layer-6 .start__background__item__img {
	left: 50%;
	transform: translateX(calc(-100% + 525px));
	bottom: 270px;
}
/* солнце */
.start__background__item_layer-7 {
}
.start__background__item_layer-7 .start__background__item__img {
	left: 50%;
	bottom: 84px;
	transform: translateX(-8.5px);

	animation: start__background__item_layer-7 var(--animation-delay) linear infinite;
}

/* Бегущая строка | ticker */
.ticker {
	width: 100%;
	margin: auto;
	padding: 18px 0;
	box-sizing: border-box;

	background-color: var(--c-three);
}
.ticker_viewport {
	max-width: 1920px;
	margin: auto;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
}
.ticker_content {
	flex-shrink: 0;
	display: flex;
	counter-reset: item;
	justify-content: space-around;
	min-width: 100%;
}
.runner {
	animation: ticker var(--animation-delay) linear infinite;
}
.ticker__phrase {
	color: var(--c-one);
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 110%;
	display: flex;
	align-items: center;
	width: max-content;
}
.ticker__phrase::after {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: var(--c-one);
	border-radius: 50%;

	margin: 0 12px;
}

/* Поддержать | support */
.support {
	margin-top: 80px;
	margin-bottom: 200px;
}
.support_content {
	display: flex;
	flex-direction: column;
}
.support__item {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.support__item-lectionary {
	margin-bottom: 64px;
	height: 250px;
}
.support__item-lectionary__item,
.support__item-session__item {
	width: 100%;
}
.support__item-lectionary__item-title {
	margin-right: 64px;
}
.support__title {
	font-size: 36px;
	line-height: 135%;
	text-transform: uppercase;
	display: inline;
}
.support__item-lectionary__item-figure {
max-width: 394px;
}
.support__item-session__item-figure {
	max-width: 474px;
height: 527px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.support__item-session__item-figure__img {
	width: 528px;
height: auto;
position: absolute;
}
.support__item-session__item-figure__img-1 {
	width: 530px;
height: 610px;
}
.support__item-session__item-figure__img-3 {
	mix-blend-mode: color-burn;
}
.support__item_lectionary__item-figure__img {
	width: 100%;
height: auto;
}
.support__item-session__item-content__items {
	margin-left: 44px;
}
.support__item-session__item-content__item-title {
	margin-bottom: 60px;
}
.support__table {
	margin-bottom: 48px;
	width: 100%;
	height: 248px;
	border-spacing: 0;
}
.support__table__cell {
	text-align: left;
	line-height: 120%;
	font-size: 20px;

	border-bottom: 2px solid #D0D0D0;
}

/* все ячейки */
.support__table__cell {
	padding: 15px;
	border: 1px solid #D0D0D0;
}
/* первая строка */
.support__table__row:first-child .support__table__cell {
	padding-top: 0;
	border-top: unset;
}
/* последняя строка */
.support__table__row:last-child .support__table__cell {
	padding-bottom: 0;
	border-bottom: unset;
}
/* левый столбик */
.support__table__col-1 {
	padding-left: 0;
	border-left: unset;

	font-weight: 400;
	opacity: .7;
}
/* правый столбик */
.support__table__col-2{
	padding-right: 0;
	border-right: unset;

	font-weight: 700;
}

/* Подробнее | section details */
.details {
	margin-bottom: 200px;
}
.details__title {
	width: 100%;
	max-width: 806px;

	margin-bottom: 54px;

	display: flex;
	flex-direction: column;
}
.details__title--line-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.details__title__subline {
	width: 100%;
	max-width: 280px;

	margin-left: 18px;
}
.details__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 112px 112px 136px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	position: relative;
}
.details__item {
	width: 100%;
	height: 100%;
	position: relative;

	box-sizing: border-box;
	padding: 20px;
}
/* тип бумага */
.details__item::before {
	z-index: 101;
	content: '';
	background: url(../img/img-21ee45.png) no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	background-size: 150% auto;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .8;
}
/* фильтр */
.details__item::after {
	z-index: 102;
	mix-blend-mode: color-burn;
	content: '';
	background: url(../img/img-4606c6.png) no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	background-size: 150% auto;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
}
.details__grid-cell--1-2 {
	grid-area: 1 / 1 / 2 / 3;
}
.details__grid-cell--3 {
	grid-area: 1 / 3 / 3 / 4;
}
.details__grid-cell--4-5 {
	grid-area: 2 / 1 / 3 / 3;
}
.details__grid-cell--6 {
	grid-area: 3 / 1 / 4 / 2;
}
.details__grid-cell--7 {
	grid-area: 3 / 2 / 4 / 4;
}

.details__grid-cell--1-2,
.details__grid-cell--4-5 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}
.details__grid-cell--7.details__item .details__item__text {
	max-width: 415px;
}
.details__items {
	counter-reset: item;
}
.details__item__text {
	position: absolute;
	z-index: 103;
	margin-left: calc(36px + 16px);
	margin-right: 20px;
}
/* нумерация элементов */
.details__item__text::before {
	counter-increment: item;
	content: counter(item);

	box-sizing: border-box;

	position: absolute;
	left: calc(-36px - 16px);

	width: 36px;
	height: 36px;

	padding-bottom: 3px;

	background-color: var(--m-one);
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 20px;
	line-height: 120%;
	font-weight: 500;
}
.details__figure {
	position: absolute;
	z-index: 104;
	right: -40px;
	bottom: 0;

	width: 378px;
	height: 235px;
}

.participants {
	margin-bottom: 140px;
}
.participants__content {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 60px;
}
.participants__title {
	grid-area: 1 / 1 / 2 / 2;
}
.navigation {
	grid-area: 1 / 2 / 2 / 3;

	width: 151px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation__button {
	width: 44px;
	height: 44px;

	background-color: var(--m-four);
	border-radius: 50%;
}
.navigation__button::before {
content: url('../img/icon-9cb179.svg');
position: absolute;
top: 55%;
left: 55%;
transform: translate(-50%, -50%);
}
.navigation__button:hover {
	background-color: var(--c-two);
}
.navigation__button.disabled {
	background-color: var(--m-two);
	cursor: default;
}

.navigation__button--back {
	rotate: 180deg;
}
.navigation__button--next {
	rotate: 0deg;
}

.participants__items {
	grid-area: 2 / 1 / 3 / 3;

	grid-column-gap: 20px;
	grid-row-gap: 0px;

	width: fit-content;

	
	transition: transform 1s ease-in-out;
}

.participants__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 462px;
}
.participants__item__figure {
	max-width: 320px;
	max-height: 320px;

	border-radius: 50%;

	overflow: hidden;
}
.participants__item__figure__img {

}
.participants__item_title {
	margin-top: 28px;
	margin-bottom: 20px;

	text-align: center;
}
.participants__item__button {
	text-decoration: unset;

	display: flex;
	align-items: center;

	height: 35px;

	padding: 12px;

	background-color: unset;

	border: 2px solid var(--c-four);
	border-radius: 62px;

	box-sizing: border-box;
}
.participants__item__button .participants__item__button__text {
	color: var(--c-four);
	padding-bottom: 2px;
}
.participants__item__button:hover {
	background-color: var(--c-four);
}
.participants__item__button:hover .participants__item__button__text {
	color: var(--m-one);
}




/* ########################### */
/* карусель | carousel section */
.carousel {
	width: 100%;
	position: relative;
}
.carousel .carousel__items{
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	grid-template-rows: 1fr;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.carousel__items::-webkit-scrollbar {
	display: none;
}
.carousel__items.no-transition {
	scroll-behavior: auto;
}
.carousel__items.swiping {
	scroll-snap-type: none;
	scroll-behavior: auto;
}
/* .carousel__items.swiping .carousel__item {
	user-select: none;
} */
.carousel__items :where(.carousel__item, .img) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel__items .carousel__item {
	scroll-snap-align: start;
	list-style: none;
	background: #fff;
	flex-direction: column;
}
@media screen and (max-width: 1060px) {
	.carousel .carousel__items {
	grid-auto-columns: calc((100% / 2) - 9px);
	}
}
@media screen and (max-width: 720px) {
	.carousel .carousel__items {
	grid-auto-columns: 100%;
	}
}
/* карусель | carousel section */
/* ########################### */










/* Подвал | footer */
.footer {
	padding-top: 40px;
	padding-bottom: 72px;

	background-color: var(--c-one);
}
.footer__text {
	opacity: .6;
}







@media (max-width: 768px) {
	.start {
		height: 812px;
	}
	.start__content {
		max-width: 335px;
		margin-top: 40px;
	}
	.start__content__description {
		text-align: left;
		margin-bottom: 32px;
	}
	.start__content__title__row {
		font-size: 36px;
	}
	.start__content__buttons {
		grid-template-columns: unset;
		grid-template-rows: repeat(2, 1fr);
	}
	.start__content__button {
		height: 47px;
		padding: 18px 20px;
	}
	.start__content__button__text {
		width: fit-content;
		height: 11px;
		margin-top: -2px;
	}
	.ticker__phrase {
		font-size: 16px;
	}
	.ticker_content_runner {
		padding: 10px 0;
	}
	.start__background__item__img {
		zoom: 0.5;
	}
	.start__background__item_layer-2 {
		display: none;
	}
	/* конь */
	.start__background__item_layer-1 .start__background__item__img {
		display: none;
		
	}
	/* пешка */
	.start__background__item_layer-2 .start__background__item__img {
		display: none;
		
	}
	/* фильтр */
	.start__background__item_layer-3 .start__background__item__img {
		scale: 1;
	}
	/* город */
	.start__background__item_layer-4 .start__background__item__img {
		position: absolute;
right: -140px;
	}
	/* король */
	.start__background__item_layer-5 .start__background__item__img {
		right: calc(253px * 2);
left: unset;
transform: unset;
	}
	/* королева */
	.start__background__item_layer-6 .start__background__item__img {
		left: unset;
transform: unset;
right: calc(80px * 2);
		rotate: calc(15deg - 7.59deg);
	}
	/* солнце */
	.start__background__item_layer-7 .start__background__item__img {
		display: none;

	}

	
.support__item {
	display: flex;
	flex-direction: column;
}
.support__item-lectionary__item-text {
	
}
}